---
http_interactions:
- request:
    method: get
    uri: https://api.zenhub.io/p1/repositories/7777/board
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authentication-Token:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zenhub-Request-Id:
      - ae228de6-4a20-4ca4-9eba-04aad3346db8
      X-Zenhub-Served-By:
      - b91fa1501a5cf79ab84127e8b7a5c59129673cf0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '1462073280'
      Etag:
      - W/"1b0b-1942665860"
    body:
      encoding: ASCII-8BIT
      string: '{"pipelines":[{"name":"Pipeline1","issues":[{"issue_number":1,"position":0},{"issue_number":2,"estimate":{"value":3},"position":1}]}]}'
  recorded_at: Sun, 01 May 2016 03:27:38 GMT
recorded_with: VCR 3.0.1
