---
http_interactions:
- request:
    method: get
    uri: https://api.zenhub.io/p1/repositories/7777/issues/77/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authentication-Token:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zenhub-Request-Id:
      - 50abd961-fdc2-45f0-b422-ee5f0389ce2e
      X-Zenhub-Served-By:
      - b91fa1501a5cf79ab84127e8b7a5c59129673cf0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '1462073280'
      Etag:
      - W/"8f0-923386129"
    body:
      encoding: ASCII-8BIT
      string: '[{"user_id":1,"type":"addIssueToEpic","created_at":"2016-04-28T06:03:11.076Z"},{"user_id":1,"type":"transferIssue","created_at":"2016-04-26T01:51:41.091Z","from_pipeline":{"name":"Pipeline1"},"to_pipeline":{"name":"Pipeline2"}}]'
  recorded_at: Sun, 01 May 2016 03:27:37 GMT
recorded_with: VCR 3.0.1
