---
http_interactions:
- request:
    method: get
    uri: https://api.zenhub.io/p1/repositories/7777/issues/77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authentication-Token:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Zenhub-Request-Id:
      - d4dbb068-54e4-4a52-9b7e-707deb7bd54a
      X-Zenhub-Served-By:
      - b91fa1501a5cf79ab84127e8b7a5c59129673cf0
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '1462073280'
      Etag:
      - W/"4d-728524061"
    body:
      encoding: UTF-8
      string: '{"estimate":{"value":8},"plus_ones":[],"pipeline":{"name":"In Progress
        PBI"}}'
  recorded_at: Sun, 01 May 2016 03:27:36 GMT
recorded_with: VCR 3.0.1
